@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lexend+Deca:wght@400;600&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.container .content {
    display: grid;
    grid-template-columns: repeat(2,calc(0.45*1440px));
    justify-content: center;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
    width: calc(0.9*1440px);
    height: calc(0.6*1000px);
    position: absolute;
    top: 200px;
}
.container {
    width: 1440px;
    background-color: hsl(233, 47%, 7%);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 5%;
    height:1000px;
}
h1 ,p,.items .item1,.items .item2,.items .item3 {
    color:hsl(0, 0%, 100%);
}

.items {
    display: grid;
    padding-top:100px ;
    grid-template-columns: repeat(3,30%);
}
.text .bigtext span {
    color: hsl(277, 64%, 61%);
}
img {
    width: 100%;
    height: 96%;
    filter: hsl(277, 64%, 61%);
    border-top-left-radius:     0px;
    border-top-right-radius:    10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  0px;
}
.simple {
    text-align: left;
    line-height: 1.5;
    font-weight: 400;
    font-family: Inter ;
}
.text {
    padding: 140px;
}

.item1 .number  ,.item2 .number ,.item3 .number {
    font-family: Lexend Deca ;
    font-weight: 400;
}
.txt {
    text-transform: uppercase;
    font-weight: 400;
    font-family: Inter ;
}


/* phone */
@media (max-width: 375px) {
    .container {
        width: 375px;
        background-color: hsl(233, 47%, 7%);
        height:800px;
    }
    .container .content {
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
        background-color: hsl(244, 38%, 16%);
        border-radius: 10px;
        width: 300px;
        height: calc(0.7*1000px);
        position: absolute;
        top: 20px; 
        left:calc(75px/2) ;
    }
    .text {
        padding: 0px;
        text-align: center;
    }
    .simple {
        text-align: center;
        padding-left: 14px;
        padding-right: 14px;
    }
    .items {
        display: grid;
        padding-top:0px ;
        grid-template-columns: repeat(1,90%);
        justify-items: center;
        grid-row-gap: 10px;
    }
    .item1 .number  ,.item2 .number ,.item3 .number {
        font-family: Lexend Deca ;
        font-weight: bolder;
        text-align: center;
    }
    .container .content .image {
    grid-row: 1;
    }
    img {
        width: 100%;
        height: 96%;
        filter: hsl(277, 64%, 61%);
        border-top-left-radius:     10px;
        border-top-right-radius:    10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius:  0px;
    }
    .bigtext {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
  }
/* tablette */
